#editActivity.modal.fade(role='dialog')
    .modal-dialog
        form(name="Edition" id='Edition' action="/"+user+"/project/"+projectID+"/activity/"+ activities[i].identity.low+"/edit" method='post')
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal") x
                    h4.modal-title Activity edition
                .modal-body
                    table
                        thead
                            tr
                                th
                                    label(for="actEdit") Activity description
                                th
                                th
                                    label(for='parentEdit') Depends on
                        tbody
                            tr
                                td
                                    input(type="text" placeholder="activity" name='actEdit' id='actEdit')
                                td
                                td
                                    //todo : select-multiple
                                    select(name='parentEdit' form='edition' id='parentEdit')
                                        option(value = 'none') none

                                            option(value=activities[i].properties.description)= activities[i].properties.description
                        thead
                            tr
                                th
                                    label(for='otEdit') Optimistic time
                                th
                                    label(for='mltEdit') Most Likely time
                                th
                                    label(for='ptEdit') Pessimistic time
                        tbody
                            tr
                                td
                                    input(type='number', id='otEdit', name="otEdit" )
                                td
                                    input(type='number', id='mltEdit', name="mltEdit")
                                td
                                    input(type='number', id='ptEdit', name="ptEdit")
                .modal-footer
                    button.btn.btn-danger(type="button" data-dismiss="modal") Cancel
                    button.btn.btn-success(type="submit" ) Edit