extends index

block edition
    #editModal.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal") x
                    h4.modal-title Activity edition
                .modal-body
                    form(name="Edition" id='Edition' action="/" method='post')
                        table
                            thead
                                tr
                                    th
                                        label(for="actEdit") Activity description
                                    th empty
                                    th
                                        label(for='parentEdit') Depends on
                                tr
                                    th
                                        label(for='otEdit') Optimistic time
                                    th
                                        label(for='mltEdit') Most Likely time
                                    th
                                        label(for='ptEdit') Pessimistic time
                            tbody
                                tr
                                    td
                                        input(type="text" placeholder=this.activity.description name='actEdit' id='actEdit')
                                    td
                                    td
                                        select(name='parentEdit' form='edition' id='parentEdit')
                                            option(value = 'none') none
                                            each activity in activities
                                                option(value=activity.description)= activity.description

                                tr
                                    td
                                        input(type='number', id='otEdit', name="OT" )
                                    td
                                        input(type='number', id='mltEdit', name="MLT")
                                    td
                                        input(type='number', id='ptEdit', name="PT")

                .modal-footer
                    button.btn.btn-danger(type="button" data-dismiss="modal") Cancel
                    button.btn.btn-success(type="submit" data-dismiss="modal") Edit
