//- >> Call and use layout file
extends layout

block content
    case authenticated
        when true
            //-  >> Show the content is the user is authenticated
            nav.navbar.navbar-inverse
                .container-fluid
                    .navbar-header
                        a.navbar-brand(href='/'+user+'/dashboard') Planning Tool
                    ul.nav.navbar-nav
                        li.active
                            a(href='/' + user + '/dashboard') Home
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/logout')
                                span.glyphicon.glyphicon-log-out
                                |  Log out
            .main.container
                case projectEdition
                    when true: include activities/activity_list
                    when false: include projects/project_list

        when false
            //- >> Show the content when the user is not authenticated
            nav.navbar.navbar-inverse
                .container-fluid
                    .navbar-header
                        a.navbar-brand(href='/') Planning Tool
                    ul.nav.navbar-nav
                        li.active
                            a(href='/') Home
            .main.container
                include user/welcome
                include user/sign