doctype html

html
    head
        meta(charset='utf-8')
        meta(name='description' content='time management tool')
        meta(name='keywords' content='PERT, Probability, Time management, software production')
        meta(name='author' content='Melissa Boyer')
        //meta name viewport content .... todo : define content
        title Project
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css' href='/style/add_activity.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='/scripts/multiple-select.js')
    body
        block content