welcome
    .container
        .row
            .jumbotron
                h1 Planning tool
                h4 This planning tool uses the Program Evaluation and Review Technique (PERT).
                | The aim is to create and verifies your PERT networks, determine the critical path and determine the probability of your project being complete by a given date.
                | Please, create your account, or sign in to use this tool.